<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Session Id: {{sessionid}}</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            sessionid: String
        },
        mounted() {
          console.log('Component mounted.')
          console.log("session id: "+this.sessionid);
          console.log('session.'+ this.sessionid);
          this.listen();
          this.listenWithAuth();
          console.log('Component mounted.')
        },
        methods: {
          getSession() {
            axios.get(`/api/sessions/${this.sessionid}/files`)
              .then((response) => {
                this.files = response.data;
              })
              .catch(function(error) {
                console.log(error);
              });
          },
          listen() {
            window.Echo.private('test-event')
            .listen('ExampleEvent', (e) => {
                console.log(e);
            });
          },
          listenWithAuth() {
            window.Echo.private(`session.${this.sessionid}`)
                .listen('.session-update', (response) => {
                    console.log(response);
                    location.reload();
                });
          },
        }
    }
</script>
