<template>
    <b-table striped hover :items="items" :fields="fields"></b-table>
</template>

<script>
    export default {
        props: {
            session: {},
            fields: [],
            items: {}
        },
        mounted() {
          this.items = this.session.files;
          this.listen();
        },
        methods: {
          listen() {
            window.Echo.private(`session.${this.sessionid}`)
                .listen('.session-update', (response) => {
                    location.reload();
                });
          },
        }
    }
</script>
