<template>
    <!-- <b-table striped hover :items="JSON.parse(this.session).files" :fields="JSON.parse(this.fields)"></b-table> -->
</template>

<script>
    export default {
        props:['session','fields','sessionObject'],
        mounted() {
          this.listen();
        },
        methods: {
          listen() {
            window.Echo.private(`session.${JSON.parse(this.session).id}`)
                .listen('.session-update', (response) => {
                  // this.sessionObject = response.session;
                  location.reload();
                });
          },
        }
    }
</script>
